/* General styling for the root element */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Styling for even rows */
tr:nth-child(even) {
  background: #F2F2F2;
}

/* Styling for odd rows */
tr:nth-child(odd) {
  background: #FFF;
}

/* Styling for table header and data cells */
th, td {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Styling for container box */
.containerbox {
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  background-color: white;
  padding: 20px;
  text-align: left;
}

/* Centering login container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
